<!-- image  -->
  <div class="image"></div>

<div id="bootstrap-overrides" class="container"> <!-- For styling  -->
  <h1>Is remote work right for you?</h1> <!-- Heading  -->
    <form class="" action="index.html" method="post">  <!-- Start of the form  -->
          <ol> <!-- ol(ordered List) adds numbers to each of the questions  -->
            <!-- Question # 1  -->
            <li>
               <div class="form-group">
                <label>You prefer to work with others in a face to face capacity rather than working on your own.</label>
                <br>
                <select class="form-group" name="">
                  <option value="">Agree Strongly</option>
                  <option value="">Moderately Agree</option>
                  <option value="">Moderately Disagree</option>
                  <option value="">Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 2  -->

            <li>
               <div class="form-group">
                <label >You feel that you are an effetive communicator.</label>
                <br>
                <select class="form-group" name="">
                  <option value="">Agree Strongly</option>
                  <option value="">Moderately Agree</option>
                  <option value="">Moderately Disagree</option>
                  <option value="">Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 3  -->

            <li>
               <div class="form-group">
                <label >You are self motivated and work well with little supervision.</label>
                <br>
                <select class="form-group" name="">
                  <option value="">Agree Strongly</option>
                  <option value="">Moderately Agree</option>
                  <option value="">Moderately Disagree</option>
                  <option value="">Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Add more questions as necessary  -->
          </ol>
          <button type="submit" class="btn btn-default">Submit</button>
      </form>
  </div>
