<form class="" action="index.html" method="post">
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
  <div class="form-group">
    <label for="">Do you prefer to work with others in a face to face capacity?</label>
    <select class="" name="">
      <option value="">Agree Strongly</option>
      <option value="">Moderately Agree</option>
      <option value="">Moderately Disagree</option>
      <option value="">Disagree Strongly</option>
    </select>
  </div>
</form>
