.redBox {
  background-color: red;
  min-height: 400px;
  min-width: auto;
}

.greenBox {
  background-color: green;
  min-height: 400px;
  min-width: auto;
}

.page {
  font-family: 'Encode Sans Condensed', sans-serif;
}

.page.ng-enter {
  transition: 0.5s linear all;
  opacity:0;
}

.page.ng-enter.ng-enter-active {
  opacity:1;
}
