<!-- image  -->
  <div class="image"></div>

<div id="bootstrap-overrides" class="container"> <!-- For styling  -->
  <h1>Is remote work right for you?</h1> <!-- Heading  -->
    <form class="" action="index.html" method="post">  <!-- Start of the form  -->
          <ol> <!-- ol(ordered List) adds numbers to each of the questions  -->
            <!-- Question # 1  -->
            <li>
               <div class="form-group">
                <label>You prefer to work with others in a face to face capacity rather than working on your own.</label>
                <br>
                <select [(ngModel)]="remoteOneValue" class="form-group" name="remoteOne">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 2  -->

            <li>
               <div class="form-group">
                <label >You feel that you are an effetive communicator.</label>
                <br>
                <select [(ngModel)]="remoteTwoValue" class="form-group" name="remoteTwo">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 3  -->

            <li>
               <div class="form-group">
                <label >You are self motivated and work well with little supervision.</label>
                <br>
                <select [(ngModel)]="remoteThreeValue" class="form-group" name="remoteThree">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 4  -->

            <li>
               <div class="form-group">
                <label >New Remote Question Please.</label>
                <br>
                <select [(ngModel)]="remoteFourValue" class="form-group" name="remoteFour">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 1 for Strategy -->

            <li>
               <div class="form-group">
                <label >New Strategy Question Please.</label>
                <br>
                <select [(ngModel)]="strategyOneValue" class="form-group" name="strategyOne">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 2 for Strategy -->

            <li>
               <div class="form-group">
                <label >New Strategy Question Please.</label>
                <br>
                <select [(ngModel)]="strategyTwoValue" class="form-group" name="strategyTwo">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 3 for Strategy -->

            <li>
               <div class="form-group">
                <label >New Strategy Question Please.</label>
                <br>
                <select [(ngModel)]="strategyThreeValue" class="form-group" name="strategyThree">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Question # 4 for Strategy -->

            <li>
               <div class="form-group">
                <label >New Strategy Question Please.</label>
                <br>
                <select [(ngModel)]="strategyFourValue" class="form-group" name="strategyFour">
                  <option [value]=4>Agree Strongly</option>
                  <option [value]=2>Moderately Agree</option>
                  <option [value]=1>Moderately Disagree</option>
                  <option [value]=0>Disagree Strongly</option>
                </select>
              </div>
            </li>

            <!-- Add more questions as necessary  -->
          </ol>
          <button type="submit" class="btn btn-default" (click)="runAssess()">Submit</button>
      </form>
  </div>
