
<div class="image"></div>
<div class="container">
  <p id="heading">Diversity &amp; Inclusion Assessment</p>
  <p id="paragraph">
    This tool is meant to enable organizations to benchmark their current diversity and inclusion activities and provide guidance in identifying areas to drive change. Companies that score high demonstrate they are performing at levels considered to be industry best practices while companies that score low demonstrate they have some work to do.
  </p>


<!-- quiz 1 about Diversity -->
<form action="index.html" method="post">
    <div *ngIf="quiz1">
      <h3 id="heading">Commitment to Diversity</h3>
        <hr>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">The CEO is a sponsor a diversity and inclusion program.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversityOneValue"[(ngModel)]="diversityOneValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityOneValue" [(ngModel)]="diversityOneValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityOneValue" [(ngModel)]="diversityOneValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityOneValue" [(ngModel)]="diversityOneValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityOneValue" [(ngModel)]="diversityOneValue" value="5">
            We standards and policies set to support this effort that represent best practice.
          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We have an official definition and shared understanding of diversity and inclusion.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversityTwoValue"[(ngModel)]="diversityTwoValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityTwoValue" [(ngModel)]="diversityTwoValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityTwoValue" [(ngModel)]="diversityTwoValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityTwoValue" [(ngModel)]="diversityTwoValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityTwoValue" [(ngModel)]="diversityTwoValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Diversity and inclusion is a core value and goal for our organization that are tied to business objectives and strategic goals.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversityThreeValue"[(ngModel)]="diversityThreeValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityThreeValue" [(ngModel)]="diversityThreeValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityThreeValue" [(ngModel)]="diversityThreeValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityThreeValue" [(ngModel)]="diversityThreeValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityThreeValue" [(ngModel)]="diversityThreeValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Our managers / administrators can easily describe why diversity and inclusion are important for our organization.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversityFourValue"[(ngModel)]="diversityFourValue" value="1" >
            We’ve taken no actions to address this
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFourValue" [(ngModel)]="diversityFourValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFourValue" [(ngModel)]="diversityFourValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFourValue" [(ngModel)]="diversityFourValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFourValue" [(ngModel)]="diversityFourValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We have conducted a pay equity analysis in the last year.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversityFiveValue"[(ngModel)]="diversityFiveValue" value="1" >
            We’ve taken no actions to address this
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFiveValue" [(ngModel)]="diversityFiveValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFiveValue" [(ngModel)]="diversityFiveValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFiveValue" [(ngModel)]="diversityFiveValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversityFiveValue" [(ngModel)]="diversityFiveValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We have identified our organization's’ gender breakdown by role, level and department in the last year.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversitySixValue"[(ngModel)]="diversitySixValue" value="1" >
            We’ve taken no actions to address this
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySixValue" [(ngModel)]="diversitySixValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySixValue" [(ngModel)]="diversitySixValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySixValue" [(ngModel)]="diversitySixValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySixValue" [(ngModel)]="diversitySixValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Diversity and inclusion competence considerations are integrated into our organization's strategic plan (including recruiting, hiring, retention, and promotion).</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="diversitySevenValue"[(ngModel)]="diversitySevenValue" value="1" >
            We’ve taken no actions to address this
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySevenValue" [(ngModel)]="diversitySevenValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySevenValue" [(ngModel)]="diversitySevenValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySevenValue" [(ngModel)]="diversitySevenValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="diversitySevenValue" [(ngModel)]="diversitySevenValue" value="5">
            We standards and policies set to support this effort that represent best practice.          </label>
        </div>
      </div>
      <hr>
      <a (click)="goQuizTwo()" class="btn btn-primary">Next Section</a>
      </div>


<!--quiz 2 about employment  -->


      <div *ngIf="quiz2">
        <h3 id="heading">Employment Practices</h3>
          <hr>
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We are successful in recruiting and retaining Board leaders, senior management, and other leadership positions from diverse backgrounds with expertise and ability to execute our strategic plan.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentOneValue"[(ngModel)]="employmentOneValue" value="1" >
              We’ve taken no actions to address this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentOneValue" [(ngModel)]="employmentOneValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentOneValue" [(ngModel)]="employmentOneValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentOneValue" [(ngModel)]="employmentOneValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentOneValue" [(ngModel)]="employmentOneValue" value="5">
              We standards and policies set to support this effort that represent best practice.
             </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">Job descriptions include diversity and inclusion statements.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentTwoValue"[(ngModel)]="employmentTwoValue" value="1" >
              We’ve taken no actions to address this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwoValue" [(ngModel)]="employmentTwoValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwoValue" [(ngModel)]="employmentTwoValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwoValue" [(ngModel)]="employmentTwoValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwoValue" [(ngModel)]="employmentTwoValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have increased our percentage of diverse employee hires over the same period last year.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentThreeValue"[(ngModel)]="employmentThreeValue" value="1" >
              We’ve taken no actions to address this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentThreeValue" [(ngModel)]="employmentThreeValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentThreeValue" [(ngModel)]="employmentThreeValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentThreeValue" [(ngModel)]="employmentThreeValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentThreeValue" [(ngModel)]="employmentThreeValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We review metrics to evaluate and assess our workforce diversity and inclusion efforts.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentFourValue"[(ngModel)]="employmentFourValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFourValue" [(ngModel)]="employmentFourValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFourValue" [(ngModel)]="employmentFourValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFourValue" [(ngModel)]="employmentFourValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFourValue" [(ngModel)]="employmentFourValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have documented processes that promotes a diverse pool of candidates in our hiring, recruiting, retention, and promotion.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentFiveValue"[(ngModel)]="employmentFiveValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFiveValue" [(ngModel)]="employmentFiveValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFiveValue" [(ngModel)]="employmentFiveValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFiveValue" [(ngModel)]="employmentFiveValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentFiveValue" [(ngModel)]="employmentFiveValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have a senior level official who oversees and direct diversity efforts.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentSixValue"[(ngModel)]="employmentSixValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSixValue" [(ngModel)]="employmentSixValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSixValue" [(ngModel)]="employmentSixValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSixValue" [(ngModel)]="employmentSixValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSixValue" [(ngModel)]="employmentSixValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have a diversity/inclusion committee that meets on a regular basis.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentSevenValue"[(ngModel)]="employmentSevenValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSevenValue" [(ngModel)]="employmentSevenValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSevenValue" [(ngModel)]="employmentSevenValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSevenValue" [(ngModel)]="employmentSevenValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentSevenValue" [(ngModel)]="employmentSevenValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have developed a supplier diversity policy that provides fair opportunity for minority-owned and women-owned businesses.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentEightValue"[(ngModel)]="employmentEightValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentEightValue" [(ngModel)]="employmentEightValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentEightValue" [(ngModel)]="employmentEightValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentEightValue" [(ngModel)]="employmentEightValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentEightValue" [(ngModel)]="employmentEightValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">Our employees have participated in at least one diversity/inclusion training in the past 12 months.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentNineValue"[(ngModel)]="employmentNineValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentNineValue" [(ngModel)]="employmentNineValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentNineValue" [(ngModel)]="employmentNineValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentNineValue" [(ngModel)]="employmentNineValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentNineValue" [(ngModel)]="employmentNineValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have regular employee engagement surveys with feedback loops for action in place.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentTenValue"[(ngModel)]="employmentTenValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTenValue" [(ngModel)]="employmentTenValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTenValue" [(ngModel)]="employmentTenValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTenValue" [(ngModel)]="employmentTenValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTenValue" [(ngModel)]="employmentTenValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">Orientation for new employees addresses our diversity and inclusion beliefs and policies.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentElevenValue"[(ngModel)]="employmentElevenValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentElevenValue" [(ngModel)]="employmentElevenValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentElevenValue" [(ngModel)]="employmentElevenValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentElevenValue" [(ngModel)]="employmentElevenValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentElevenValue" [(ngModel)]="employmentElevenValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>


        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have provided accessibility for non-English speakers and individuals with disabilities.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="employmentTwelveValue"[(ngModel)]="employmentTwelveValue" value="1" >
              We’ve taken no actions to address this
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwelveValue" [(ngModel)]="employmentTwelveValue" value="2">
              We taken actions to address this, but have not initiated a discussion.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwelveValue" [(ngModel)]="employmentTwelveValue" value="3">
              We’ve defined verbal and written standards to support this.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwelveValue" [(ngModel)]="employmentTwelveValue" value="4">
              We’ve defined standards and have integrated it into our workplace norms.
            </label>
            <br>
            <label>
              <input type="radio" name="employmentTwelveValue" [(ngModel)]="employmentTwelveValue" value="5">
              We standards and policies set to support this effort that represent best practice.
            </label>
          </div>
        </div>
        <hr>

        <a (click)="goQuizThree()" class="btn btn-primary">Next Section</a>
        </div>


<!--Quiz 3 about Communication  -->
    <div *ngIf="quiz3">
      <h3 id="heading">Communication</h3>
        <hr>
      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We are transparent about our diversity and inclusion activities and make information available to our employees, suppliers, consumers, and the public on our website.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="communicationOneValue"[(ngModel)]="communicationOneValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationOneValue" [(ngModel)]="communicationOneValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationOneValue" [(ngModel)]="communicationOneValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationOneValue" [(ngModel)]="communicationOneValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationOneValue" [(ngModel)]="communicationOneValue" value="5">
            We standards and policies set to support this effort that represent best practice.
          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We regularly communicate our diversity and inclusion metrics and progress.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="communicationTwoValue"[(ngModel)]="communicationTwoValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationTwoValue" [(ngModel)]="communicationTwoValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationTwoValue" [(ngModel)]="communicationTwoValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationTwoValue" [(ngModel)]="communicationTwoValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationTwoValue" [(ngModel)]="communicationTwoValue" value="5">
            We standards and policies set to support this effort that represent best practice.
          </label>
        </div>
      </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">We do not shy away from talking about diversity and inclusion within our organization.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="communicationThreeValue"[(ngModel)]="communicationThreeValue" value="1" >
            We’ve taken no actions to address this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationThreeValue" [(ngModel)]="communicationThreeValue" value="2">
            We taken actions to address this, but have not initiated a discussion.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationThreeValue" [(ngModel)]="communicationThreeValue" value="3">
            We’ve defined verbal and written standards to support this.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationThreeValue" [(ngModel)]="communicationThreeValue" value="4">
            We’ve defined standards and have integrated it into our workplace norms.
          </label>
          <br>
          <label>
            <input type="radio" name="communicationThreeValue" [(ngModel)]="communicationThreeValue" value="5">
            We standards and policies set to support this effort that represent best practice.
          </label>
        </div>
      </div>
      <hr>
      <a (click)="goQuizFour()" class="btn btn-primary">Next Section</a>
    </div>


<!--quiz 4 about culture  -->

  <div *ngIf="quiz4">
    <h3 id="heading">Culture</h3>
      <hr>
    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Our employees feel valued.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureOneValue" [(ngModel)]="cultureOneValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureOneValue" [(ngModel)]="cultureOneValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureOneValue" [(ngModel)]="cultureOneValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureOneValue" [(ngModel)]="cultureOneValue" value="2">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureOneValue" [(ngModel)]="cultureOneValue" value="1">
          Strongly Agree
        </label>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Employees are encouraged to be themselves.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureTwoValue" [(ngModel)]="cultureTwoValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTwoValue" [(ngModel)]="cultureTwoValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTwoValue" [(ngModel)]="cultureTwoValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTwoValue" [(ngModel)]="cultureTwoValue" value="2">
          Disagree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTwoValue" [(ngModel)]="cultureTwoValue" value="1">
          Strongly Disagree
        </label>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Employees think outcomes, processes, and communications are fair.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureThreeValue" [(ngModel)]="cultureThreeValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureThreeValue" [(ngModel)]="cultureThreeValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureThreeValue" [(ngModel)]="cultureThreeValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureThreeValue" [(ngModel)]="cultureThreeValue" value="2">
          Disagree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureThreeValue" [(ngModel)]="cultureThreeValue" value="1">
          Strongly Disagree
        </label>
      </div>
    </div>
      <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Leaders are open to bad news.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureFourValue" [(ngModel)]="cultureFourValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFourValue" [(ngModel)]="cultureFourValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFourValue" [(ngModel)]="cultureFourValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFourValue" [(ngModel)]="cultureFourValue" value="2">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFourValue" [(ngModel)]="cultureFourValue" value="1">
          Strongly Agree
        </label>
      </div>
    </div>
      <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Employees are encouraged to ask questions.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureFiveValue" [(ngModel)]="cultureFiveValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFiveValue" [(ngModel)]="cultureFiveValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFiveValue" [(ngModel)]="cultureFiveValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFiveValue" [(ngModel)]="cultureFiveValue" value="2">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureFiveValue" [(ngModel)]="cultureFiveValue" value="1">
          Strongly Agree
        </label>
      </div>
    </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Leaders are open to new ideas and innovative approaches.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="cultureSixValue" [(ngModel)]="cultureSixValue" value="5">
            Strongly Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureSixValue" [(ngModel)]="cultureSixValue" value="4">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureSixValue" [(ngModel)]="cultureSixValue" value="3">
            Indifferent
          </label>
          <br>
          <label>
            <input type="radio" name="cultureSixValue" [(ngModel)]="cultureSixValue" value="2">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureSixValue" [(ngModel)]="cultureSixValue" value="1">
            Strongly Agree
          </label>
        </div>
      </div>
        <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Employees have influence over their job responsibilities.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureSevenValue" [(ngModel)]="cultureSevenValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureSevenValue" [(ngModel)]="cultureSevenValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureSevenValue" [(ngModel)]="cultureSevenValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureSevenValue" [(ngModel)]="cultureSevenValue" value="2">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureSevenValue" [(ngModel)]="cultureSevenValue" value="1">
          Strongly Agree
        </label>
      </div>
    </div>
      <hr>

<div class="row">
  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <div class="form-group">
     <h3 class="question">Our teams embrace change well.</h3>
   </div>
  </div>

  <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
    <div class="line"></div>
  </div>

  <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
    <label>
      <input type="radio" name="cultureEightValue" [(ngModel)]="cultureEightValue" value="5">
      Strongly Agree
    </label>
    <br>
    <label>
      <input type="radio" name="cultureEightValue" [(ngModel)]="cultureEightValue" value="4">
      Agree
    </label>
    <br>
    <label>
      <input type="radio" name="cultureEightValue" [(ngModel)]="cultureEightValue" value="3">
      Indifferent
    </label>
    <br>
    <label>
      <input type="radio" name="cultureEightValue" [(ngModel)]="cultureEightValue" value="2">
      Agree
    </label>
    <br>
    <label>
      <input type="radio" name="cultureEightValue" [(ngModel)]="cultureEightValue" value="1">
      Strongly Agree
    </label>
  </div>
</div>
  <hr>

  <div class="row">
    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <div class="form-group">
       <h3 class="question">Employees are given stretch opportunities.</h3>
     </div>
    </div>

    <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
      <div class="line"></div>
    </div>

    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
      <label>
        <input type="radio" name="cultureNineValue" [(ngModel)]="cultureNineValue" value="5">
        Strongly Agree
      </label>
      <br>
      <label>
        <input type="radio" name="cultureNineValue" [(ngModel)]="cultureNineValue" value="4">
        Agree
      </label>
      <br>
      <label>
        <input type="radio" name="cultureNineValue" [(ngModel)]="cultureNineValue" value="3">
        Indifferent
      </label>
      <br>
      <label>
        <input type="radio" name="cultureNineValue" [(ngModel)]="cultureNineValue" value="2">
        Agree
      </label>
      <br>
      <label>
        <input type="radio" name="cultureNineValue" [(ngModel)]="cultureNineValue" value="1">
        Strongly Agree
      </label>
    </div>
  </div>
    <hr>

    <div class="row">
      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <div class="form-group">
         <h3 class="question">Employees who are willing to learn new knowledge or skills are valued.</h3>
       </div>
      </div>

      <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
        <div class="line"></div>
      </div>

      <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
        <label>
          <input type="radio" name="cultureTenValue" [(ngModel)]="cultureTenValue" value="5">
          Strongly Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTenValue" [(ngModel)]="cultureTenValue" value="4">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTenValue" [(ngModel)]="cultureTenValue" value="3">
          Indifferent
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTenValue" [(ngModel)]="cultureTenValue" value="2">
          Agree
        </label>
        <br>
        <label>
          <input type="radio" name="cultureTenValue" [(ngModel)]="cultureTenValue" value="1">
          Strongly Agree
        </label>
      </div>
    </div>
      <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Work-life balance for employees is a priority for managers and leaders.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="cultureElevenValue" [(ngModel)]="cultureElevenValue" value="5">
            Strongly Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureElevenValue" [(ngModel)]="cultureElevenValue" value="4">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureElevenValue" [(ngModel)]="cultureElevenValue" value="3">
            Indifferent
          </label>
          <br>
          <label>
            <input type="radio" name="cultureElevenValue" [(ngModel)]="cultureElevenValue" value="2">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureElevenValue" [(ngModel)]="cultureElevenValue" value="1">
            Strongly Agree
          </label>
        </div>
      </div>
        <hr>

      <div class="row">
        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <div class="form-group">
           <h3 class="question">Flexible working arrangement are available.</h3>
         </div>
        </div>

        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
          <div class="line"></div>
        </div>

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
          <label>
            <input type="radio" name="cultureTwelveValue" [(ngModel)]="cultureTwelveValue" value="5">
            Strongly Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureTwelveValue" [(ngModel)]="cultureTwelveValue" value="4">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureTwelveValue" [(ngModel)]="cultureTwelveValue" value="3">
            Indifferent
          </label>
          <br>
          <label>
            <input type="radio" name="cultureTwelveValue" [(ngModel)]="cultureTwelveValue" value="2">
            Agree
          </label>
          <br>
          <label>
            <input type="radio" name="cultureTwelveValue" [(ngModel)]="cultureTwelveValue" value="1">
            Strongly Agree
          </label>
        </div>
      </div>
      <hr>

        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <div class="form-group">
             <h3 class="question">We have family-friendly policies in place including extended parental leave and family emergency days.</h3>
           </div>
          </div>

          <div class="col-xl-1 col-lg-1 col-md-1 col-sm-1 col-xs-1">
            <div class="line"></div>
          </div>

          <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-xs-5">
            <label>
              <input type="radio" name="cultureThirteenValue" [(ngModel)]="cultureThirteenValue" value="5">
              Strongly Agree
            </label>
            <br>
            <label>
              <input type="radio" name="cultureThirteenValue" [(ngModel)]="cultureThirteenValue" value="4">
              Agree
            </label>
            <br>
            <label>
              <input type="radio" name="cultureThirteenValue" [(ngModel)]="cultureThirteenValue" value="3">
              Indifferent
            </label>
            <br>
            <label>
              <input type="radio" name="cultureThirteenValue" [(ngModel)]="cultureThirteenValue" value="2">
              Agree
            </label>
            <br>
            <label>
              <input type="radio" name="cultureThirteenValue" [(ngModel)]="cultureThirteenValue" value="1">
              Strongly Agree
            </label>
          </div>
        </div>
          <hr>


          <button type="submit" class="btn btn-default" (click)="runAssess()" class="btn btn-primary">Submit</button>  </div>
</form>
