<!DOCTYPE html>
<html>



<header id="header" class="show-on-scroll" data-offset-el=".index-section" data-offset-behavior="bottom" role="banner">
  <div class="header-inner">
    <div id="logoWrapper" class="wrapper" data-content-field="site-title">
      <h1 id="logoImage"><a href="/"><img src="//static1.squarespace.com/static/57b77304b3db2bfb203fbf3f/t/581e02ade4fcb51e9e0bc4cd/1503002266631/?format=1500w" alt="Artemis Connection" /></a></h1>
    </div>
    <div class="mobile-nav-toggle">
      <div class="top-bar"></div>
      <div class="middle-bar"></div>
      <div class="bottom-bar"></div>
    </div>
    <div class="mobile-nav-toggle fixed-nav-toggle">
      <div class="top-bar"></div>
      <div class="middle-bar"></div>
      <div class="bottom-bar"></div>
    </div>
  </div>

</header>

<router-outlet></router-outlet>

<!-- email test code -->

<div class="center-div">
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sign up</h3>
  </div>
  <div class="panel-body">
  <form>
        <div class="form-group">
      <label for="inputEmail" class="control-label">Email id</label>
        <input type="text" class="form-control" id="inputEmail" placeholder="Email Id" >
        </div>
        <div class="form-group">
      <label for="inputPassword" class="control-label">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="password"  >

    </div>
     <div class="form-group">
                <button type="button" class="btn btn-raised btn-primary" (click)="addUser()">Sign up</button>
    </div>
  </form>
</div>
</div>
</div>

<!-- email test code -->

</html>
