<div class="">
  <h2>Home menu</h2>
  <div class="well">
    <p>Artemis strategic consultants come from all walks of life. They bring their unique expertise to help us develop actionable strategy for partners in industry from tech to advertising. The hiring philosophy at Artemis is one that is more encompassing of under utilized  communities which the remote work space now allows organizations like Artemis to get back into the workforce.</p>
  </div>
  <div class="work-life">
    <p>Never get so busy making a living that you forget to make a life. -
    Dolly Parton</p>
    <p>Work-life balance is important because it affects the well-being of individuals, families, and communities. </p>
    <p>They also need time outside of work for rejuvenation, and to develop and nurture friendships and their “non-work selves.”</p>
    <p>He rightfully says that we can build successful organizations that are also sustainable in terms of their effects on people.</p>
    <p>The individual is better responsive and can easily work in their paid work as well applying themselves fully to other aspects of their life like family commitments.</p>
  </div>
  <div class="work-anywhere">
    <p>It’s more eco-friendly. </p>
    <p>They won’t have to commute! </p>
    <p>Your staff will be in better health. </p>
    <p>It’s much cheaper. </p>
  </div>
  <div class="give-back">
    <p>Work on the projects that matter to you. </p>
    <p>Use your unique backgroud to make the most impact on communities and organizations. </p>
    <p>Empower people and make meaningfull changes to other lives. </p>
  </div>
  <div class="value">
    <p>We are committed to the values of equity and sustainablility in the workplace. </p>
    <p>We respect your time like you do. </p>
    <p>Searching for leaders in places that tradtionally go unrepresented is part of the Artemis mission. </p>
  </div>
  <div class="value">
    <p>We are committed to the values of equity and sustainablility in the workplace. </p>
    <p>We respect your time like you do. </p>
    <p>Searching for leaders in places that tradtionally go unrepresented is part of the Artemis mission. </p>
  </div>
  <div class="tbd">
    <p>We are committed to the values of equity and sustainablility in the workplace. </p>
    <p>We respect your time like you do. </p>
    <p>Searching for leaders in places that tradtionally go unrepresented is part of the Artemis mission. </p>
  </div>

</div>
